/*
 * This file contains styling for the Grid.
 */

.bold-field {
  font-weight: bold;
}

.bold-field .x-grid-cell {
  font-weight: bold;
}

.x-grid-cell-inner {
  white-space: normal;
}

.x-grid-cell img {
  max-width: 128px;
  max-height: 128px;
}